@media screen and (max-width: 1500px) {
  .mobileheader {
    display: none;
  }
  .maintitle {
    float: left;
    font-size: 36.9px;
    letter-spacing: 3px;
    font-family: "Erica One", cursive;
  }
  .title {
    color: whitesmoke;
    font-family: "Major Mono Display", monospace;
  }
  .artistphoto {
    margin: 50px;
    width: 45%;
    height: 45%;
    float: left;
  }
  .description {
    letter-spacing: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
  ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
  }
  ul li {
    margin: 0 auto;
  }
  ul li .img {
    margin: 0;
    color: #9b9bbe;
    opacity: 0.5;
  }
  .swiper-container {
    width: 50%;
    margin: 96.3px 0;
  }
  .swiper-slide > a > img {
    width: 33%;
    height: 33%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  input,
  textarea {
    width: 44%;
    opacity: 0.5;
    display: inline-block;
  }
  .footer p {
    font-family: "Libre Barcode 128 Text", cursive;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 9.63px;
  }
  .img {
    font-size: 10px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    display: none;
  }
  .maintitle {
    margin: 0 0 10px 10px;
    font-size: 20.11px;
    letter-spacing: 1px;
  }
  .title {
    margin: 0 0 15px;
    font-size: 20px;
  }
  .mobileheader {
    display: block;
    width: 90%;
    margin-right: 20.11px;
  }
  .artistphoto {
    margin: 0 0 10px 48px;
    width: 313px;
    height: 313px;
  }
  .description {
    font-size: 15px;
    margin-right: 5px;
    letter-spacing: 3px;
  }
  .video {
    margin: 36.9px;
  }
  .swiper-container {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 75%;
    color: white;
  }
  .swiper-slide > a > img {
    width: 50%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer p {
    font-family: "Libre Barcode 128 Text", cursive;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 730px) {
  .header {
    display: none;
  }
  .maintitle {
    margin: 0 0 10px 10px;
    font-size: 20.11px;
    letter-spacing: 1px;
  }
  .title {
    margin: 0 0 10px;
    font-size: 20px;
  }
  .mobileheader {
    display: block;
    width: 90%;
    margin-right: 20.11px;
  }
  .artistphoto {
    margin: 0 0 20px 60px;
    width: 274px;
    height: 274px;
  }
  .artist_prof {
    width: 330px;
  }
  .artist_prof .description {
    margin-right: 10px;
    font-size: 10px;
    letter-spacing: 3px;
  }
  .description {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .video {
    margin: 36.9px;
  }
  .swiper-container {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    max-width: 1024px;
    width: 75%;
    color: white;
  }
  .swiper-slide > a > img {
    width: 50%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer p {
    font-family: "Libre Barcode 128 Text", cursive;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    display: none;
  }
  .maintitle {
    margin-left: 20.11px;
    font-size: 20.11px;
    letter-spacing: 1px;
  }
  .title {
    font-size: 5px;
    margin-bottom: 0;
  }
  .mobileheader {
    display: block;
    width: 90%;
    margin-right: 20.11px;
  }
  .artist_prof {
    width: 100%;
  }
  .artistphoto {
    margin: 15px 0 20px 40px;
    width: 80%;
    height: 80%;
  }
  .description {
    letter-spacing: 0;
    font-size: 1px;
    margin: 10px;
  }
  .img {
    font-size: 5px;
  }
  .video {
    margin: 0;
  }
  .video iframe {
    width: 100%;
  }
  .booking {
    font-size: 1px;
  }
}

@media screen and (max-width: 380px) {
  .header {
    display: none;
  }
  .img {
    font-size: 6.9px;
  }
  .maintitle {
    margin-left: 15.11px;
    font-size: 15.11px;
    letter-spacing: 1px;
  }
  .artist_prof {
    width: 305px;
    margin: 0 30px;
  }
  .artist_prof .title {
    width: 100%;
  }
  .video {
    width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 11.20px;
    margin-bottom: 5px;
  }
  .mobileheader {
    display: block;
    width: 90%;
    margin-right: 11px;
  }
  .mobileheader .mobile_icon {
    margin: 30px 0 0 50px;
  }
  .artistphoto {
    width: 305px;
    height: 305px;
    margin: 0 30px 10px 30px;
  }
  .description {
    letter-spacing: 0;
    font-size: 9.20px;
  }
  .booking {
    font-size: 20px;
  }
}

@media screen and (max-width: 330px) {
  .header {
    display: none;
  }
  .img {
    font-size: 6.9px;
  }
  .maintitle {
    margin-left: 15.11px;
    font-size: 15.11px;
    letter-spacing: 1px;
  }
  .artistphoto {
    margin: 20px 30px;
    width: 250px;
    height: 250px;
  }
  .artist_prof {
    width: 220px;
    margin: 10px 50px;
  }
  .artist_prof .title {
    width: 100%;
  }
  .video {
    width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 11.20px;
    margin-bottom: 5px;
  }
  .mobileheader {
    display: block;
    width: 90%;
    margin-right: 11px;
  }
  .mobileheader .mobile_icon {
    margin: 30px 0px;
  }
  .description {
    letter-spacing: 0;
    font-size: 9.20px;
  }
  .booking {
    font-size: 20px;
  }
}
/*# sourceMappingURL=mobile.css.map */
