* {
  box-sizing: border-box;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.seanronne {
  display: none;
}

.container {
  margin: 0 auto;
  color: white;
}
.swiper-container,
.container {
  text-align: center;
  padding: 0;
  max-width: 1102px;
}

.interview {
  width: 75%;
  height: 75%;
}

.artist_prof {
  float: right;
}
.bcfm {
  color: yellow;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.booking {
  font-family: 'Diplomata SC', cursive;
  display: inline;
  color: whitesmoke;
}
.booking:hover {
  color: yellow;
}
